header {
	text-align: center;
	text-decoration: underline;
}
main {
	text-align: center;
}
div.container {
	position: relative;
	text-align: center;
}
div.left {
	position: absolute;
	top: 65%;
	left: 37%;
	transform: translate( -50%, -50%);
}
div.right {
	position: absolute;
	top: 65%;
	left: 63%;
	transform: translate( -50%, -50%);
}
input.mathinput {
	background-color: white;
	border: 0.2em solid black;
	border-radius: 1em;
}