header {
	text-align: center;
	text-decoration: underline;
}
main {
	position: relative;
	text-align: center;
}
nav {
	display: flex;
	justify-content: center;
	background-color: lightgray;
	margin: 0.5em;
	padding: 0.5em;
	border: 3px solid transparent;
	border-radius: 20px;
}
span.emphasis {
	font-weight: bold;
	color: red;
}
a.nav {
	text-decoration: underline;
	text-decoration-color: transparent;
	margin-left: 1em;
	margin-right: 1em;
	font-family: monospace;
	font-weight: bold;
	color: black;
	font-size: 1.5em;
	transition: text-decoration-color 0.5s;
}
div.aligner {
	margin-left: auto;
	margin-right: auto;
	display: table;
}
ul {
	text-align: left;
}
a.nav:hover {
	text-decoration-color: currentColor;
}
a.emailLink {
	font-size: inherit;
	transition: font-size 0.65s;
}
a.emailLink:hover {
	font-size: 125%;
}
div.left {
	margin: 0.5em;
	text-align:left;
}
div.right {
	margin: 0.5em;
	text-align:left;
}
div.submit {
	margin: 0.5em;
	text-align:left;
}
div.dark {
	margin: 0.5em;
	text-align:left;
}
div.clear {
	margin: 0.5em;
	text-align:left;
}
div.status {
	margin: 0.5em;
	text-align: center;
}
p.status {
	margin-top: 0px;
	border: 3px solid black;
	border-radius: 20px;
	background-color: black;
	color: white;
	width: 20%;
	height: auto;
	font-size: 2vw;
	padding-top: 0.75vw;
	padding-bottom: 0.75vw;
	transition: background-color 0.65s, color 0.65s;
	cursor: help;
}
button.submit {
	background-color: white;
	border: 3px solid black;
	border-radius: 20px;
	width: 20%;
	height: auto;
	font-size:2vw;
	padding-left:10px;
	padding-top: 1vw;
	padding-bottom: 1vw;
	transition: background-color 0.65s,padding 0.65s, font-size 0.65s;
	cursor: pointer;
}
button.submit:hover {
	background-color: lightgray;
	padding: 2vw;
	font-size: 2.5vw;
}
button.dark {
	background-color: white;
	border: 3px solid black;
	border-radius: 20px;
	width: 20%;
	height: auto;
	font-size:2vw;
	padding-left:10px;
	padding-top: 1vw;
	padding-bottom: 1vw;
	transition: background-color 0.65s,padding 0.65s,font-size 0.65s;
	cursor: pointer;
}
button.dark:hover {
	background-color: lightgray;
	padding: 1.5vw;
	font-size: 2.5vw;
}
button.submit2 {
	background-color: white;
	border: 3px solid black;
	border-radius: 20px;
	width: 20%;
	height: auto;
	font-size:2vw;
	padding-left:10px;
	padding: 20px;
	transition: background-color 0.65s,padding-top 0.65s,padding-bottom 0.65s;
	cursor: pointer;
}
button.submit2:hover {
	background-color: lightgray;
	padding-top: 4vw;
	padding-bottom: 4vw;
}
button.clear {
	background-color: white;
	border: 3px solid black;
	border-radius: 20px;
	width: 300px;
	height: 50px;
	font-size:25px;
	padding-left:10px;
	transition: background-color 0.65s,height 0.65s,font-size 0.65s;
}
button.clear:hover {
	background-color: lightgray;
	height: 100px;
	font-size: 35px;
}
input.mathinput {
	background-color: white;
	border: 3px solid black;
	border-radius: 20px;
	width:19vw;
	height: auto;
	font-size:2vw;
	padding-left:10px;
}
footer {
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	text-align: center;
}
p.footer {
	font-family: monospace;
	font-weight: bold;
	font-size: 1.2em;
	background-color: white;
	color: black;
	margin: 1%;
	padding: 0.5em;
	margin-left: 20%;
	margin-right: 20%;
	border: 3px solid gray;
	border-radius: 20px;
	transition: padding 0.65s, font-size 0.65s;
}
p.footer:hover {
	padding: 1.5em;
	font-size: 1.3em;
}
div.guide {
	position: relative;
	top: 200px;
}
h1.guide {
	font-family: sans-serif;
	font-size: 2em;
}
p.guide {
	font-family: sans-serif;
	text-align: center;
	padding-left: 15em;
	padding-right: 15em;
}
p.content {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
#canvas {
	border: 8px solid black;
	border-radius:20px;
	float: right;
	margin-bottom: 100px;
	width:65%;
}
button.secret {
	background-color: transparent;
	font-size: 5px;
	float: right;
	transition: background-color 0.5s;
}
button.secret:hover {
	background-color: red;
}
